@import "tailwindcss";

@theme{
    --color-primary: #f2f2f2;
    --color-secondary: #333333;
    --color-accent: #000080;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000080 transparent;
}